<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<title>WormHole</title>
		<script src="https://cdn.tailwindcss.com"></script>
	</head>
	<body
		style="
			background-image: url('https://images.pexels.com/photos/956999/milky-way-starry-sky-night-sky-star-956999.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
			background-repeat: no-repeat;
			background-size: cover;
		"
		class="flex h-screen w-screen gap-5 bg-black justify-center items-center flex-col"
	>
		<div class="rounded relative flex flex-col">
			<div
				class="flex h-full w-full absolute z-0 rounded-lg opacity-60 bg-black"
			>	
			</div>
			<div
				class="relative flex flex-1 flex-col z-10 justify-center items-center p-10 rounded-lg"
			>
				<h1 class="text-lg text-white">
					WormHole - Warp your file across space
				</h1>
				<form
					action="/upload"
					method="post"
                    enctype="multipart/form-data"
					class="flex h-full w-full flex-col z-10 justify-center items-center gap-5"
				>
					<div class="flex flex-1 gap-2">
						<label
							for="file"
							class="text-white w-16"
							>File:</label
						>
						<input
							type="file"
							name="file"
							id="file"
							class="w-40 text-white"
							required
						/>
					</div>
					<div class="flex flex-1 gap-2">
						<label
							for="password"
							class="text-white w-16"
							>Password:</label
						>
						<input
							type="password"
							name="password"
							id="password"
							class="w-40"
						/>
					</div>
					<button
						type="submit"
						class="text-white bg-blue-700 rounded"
					>
						Submit
					</button>
				</form>
                <% if (locals.fileLink !=null) { %>
                    <div class="text-white">
                        Your file is uploaded<br>

                        <a href="<%= locals.fileLink %>">
                            <img src="http://api.qrserver.com/v1/create-qr-code/?data=<%= locals.fileLink %>&size=320x320" alt="link">
                        </a>
                    </div>
                <% } %>

			</div>
		</div>
	</body>
</html>
